<!-- 
 * @author: Christopher Hyde
 * @dueDate: December 2, 2018
 * @class: CST-235
 * @instructor: Mark Smithers

 * @about: commonLayout.xhtml is a template facelets layout.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet src="/resources/css/commonStyle.css" name="commonStyle.css" library="css"></h:outputStylesheet>
</h:head>
<body>
	<!-- Common Template Layout -->
	<div id="page">
		<!-- Header Layout -->
		<div id="header">
			<ui:insert name="header">
				<ui:include src="/layouts/commonHeader.xhtml"/>
			</ui:insert>
		</div>
		<!-- Content Layout -->
		<div id="content">
			<ui:insert name="content">
				<ui:include src="/layouts/commonContent.xhtml" />
			</ui:insert>
		</div>
		<!-- Footer Layout -->
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/layouts/commonFooter.xhtml" />
			</ui:insert>
		</div>

	</div>

</body>
</html>
