@charset "ISO-8859-1";

.orderTable{
	border-collapse:collapse;
}

.orderTableHeader{
	text-align:center;
	background:non repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.orderTableOddRow{
	text-align:right;
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:5px solid #BBBBBB;
}

.orderTableEvenRow{
	text-align:right;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:5px solid #BBBBBB;
}